$def with (tplData)
$:tplData['render'].header(tplData)
<div id="content">
<article id="post_list">
    $for i in tplData['caseList']:
    <tr> <td>$:i['CASE_ID'] </td> <td>$:i['CASE_NAME']</td><td>$:i['FILE_NAME']</td><td>$:i['PAGE_URL']</td>
        <td>
            <a href="$makeUrl('index','show',{'id':i['CASE_ID']})" >查看</a>
             |
            <a href="$makeUrl('testcase','edit',{'id':i['CASE_ID']})" >编辑</a>
            | <a href="$makeUrl('testcase','delete',{'id':i['CASE_ID']})" onclick="return confirm('确认删除？')">删除</a>
        </td>
    </tr>
</article>
<nav class="navigation">
$:tplData['pageString']
</nav>
    </div>

$:tplData['render'].footer(tplData)